#contact-form{
     background: url("../../../general/img/contact.jpg") center;
     background-size: cover;
     border: 2px solid pink;
     font-size: 20px;
     font-family: 'Shippori Mincho';
}

#send button{
    font-size: 20px;
}
