.form-inline {
  display: inline-block;
  flex-flow: row wrap;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 10px 10px 10px 0;
  margin-left: 50px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;

}

/* Style the submit button */
.form-inline button {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  background: orange;
}

.form-inline button:hover {
  background-color: #DADFE6;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
